---
import Layout from '@/layouts/Layout.astro'
import Markdown from '@/components/Markdown.astro'
import Icon from '@/components/Icon.astro'

import { getEntry } from 'astro:content'

const entry = await getEntry('pages', 'about')
let Content
if (entry) {
  Content = (await entry.render()).Content
} else {
  throw new Error('entry is undefined')
}

---

<Layout 
  title={entry.data.title} 
  styles="grid h-screen overflow-auto"
  width="flex"
>
  <div class="my-12 px-8">
    <span class="text-indigo-500"><Icon icon="wave" size="8em" /></span>
    <span class="text-mikan-600"><Icon icon="smile-sticker" size="8em" /></span>
    <Markdown mixable>
      <Content />
    </Markdown>
  </div>
</Layout>
