---
import Layout from '@/layouts/Layout.astro';
import Markdown from '@/components/Markdown.astro';
import Socials from '@/components/Socials.astro';
import Icon from '@/components/Icon.astro';

import { getEntry } from 'astro:content';

const entry = await getEntry('pages', 'contact');
let Content;
if (entry) {
  Content = (await entry.render()).Content;
} else {
  throw new Error('entry is undefined');
}
---

<Layout
  title={entry.data.title}
  styles="grid h-screen overflow-auto bg-emerald-900 text-emerald-200 [.theme-light_&]:bg-emerald-50 [.theme-light_&]:text-zorba-800"
>
  <div class="mt-12 max-w-screen mx-auto text-center">
    <Icon icon="handshake" size="8em" />
    <Icon icon="address-book" size="8em" />
    <Markdown>
      <Content />
    </Markdown>
  </div>
  <div class="">
    <Socials showLabels />
  </div>
</Layout>