---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
import Icon from '../components/Icon.astro';

import { getEntry } from 'astro:content';

const entry = await getEntry('pages', 'work');
let Content;
if (entry) {
  Content = (await entry.render()).Content;
} else {
  throw new Error('entry is undefined');
}
---

<Layout 
  title={entry.data.title}
  styles="grid h-screen overflow-auto bg-mikan-900 text-zorba-200 [.theme-light_&]:bg-zorba-50 [.theme-light_&]:text-zorba-800"
>
  <div class="my-12 px-8">
    <Icon icon="compass" size="6em" />
    <Icon icon="desktop" size="6em" />
    <Icon icon="file-code" size="6em" />
    <Markdown>
      <Content />
    </Markdown>
  </div>
</Layout>