---
import Socials from '@/components/Socials.astro'
---

<div class="w-full py-6 text-center border-t border-zorba-600">
  <div class="flex items-center gap-4 justify-between px-4">
    <Socials />
    <div
      class="text-sm tracking-wide text-zorba-600 [.theme-light_&]:text-zorba-500"
    >
      This site is powered by <a
        href="https://astro.build/"
        target="_blank"
        class="text-mikan-600">Astro</a>
    </div>
  </div>
</div>
