---
import Socials from '@/components/Socials.astro'
---

<div class="lg:hidden w-full py-6 text-center bg-zorba-600/15 border-t-2 sup-border-soft shadow-inner">
  <div class="flex items-end gap-4 justify-between px-4 md:px-0 max-w-prose mx-auto">
    <Socials />
    <div
      class="text-xs tracking-wide text-zorba-600 [.theme-light_&]:text-zorba-500"
    >
      This site is powered by <a
        href="https://astro.build/"
        target="_blank"
        class="text-mikan-600">Astro</a>
    </div>
  </div>
</div>
