---
const textLinks: { label: string; href: string }[] = [
  { label: 'Home', href: '/' },
  { label: 'About', href: '/about' },
  { label: 'Work', href: '/work' },
  // { label: 'Contact', href: '/contact' },
]

/** Test if a link is pointing to the current page. */
const isCurrentPage = (href: string) => {
  let pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
  if (pathname.at(0) !== '/') pathname = '/' + pathname
  if (pathname.at(-1) !== '/') pathname += '/'
  return pathname === href || (href !== '/' && pathname.startsWith(href))
}
---

<ul class="flex flex-col gap-2">
  {
    textLinks.map(({ label, href }) => (
      <li>
        <a
          aria-current={isCurrentPage(href) ? 'page' : null}
          {href}
          class={`
            ${isCurrentPage(href) ? 'text-mikan-500' : 'text-zorba-500'}
            p-2 inline-block text-3xl transition-all rounded-2xl 
            hover:text-indigo-300 hover:backdrop-blur-2xl
          `}
        >
          {label}
        </a>
      </li>
    ))
  }
</ul>
