---
import NavigationLinks from './NavigationLinks.astro'
---

<div class="hidden lg:flex items-center text-right">
  <nav
    class="relative h-[50vh] text-right px-6 pointer-events-auto flex items-center"
  >
    <NavigationLinks />
  </nav>
  <div class="h-[calc(100vh-260px)] border-l border-zorba-700 w-px"></div>
</div>
