---
import FpsStat from './FpsStat.astro'
import ElemStat from './ElemStat.astro'
import ListenerStat from './ListenerStat.astro'
import LCPStat from './LCPStat.astro'
import NetworkStat from './NetworkStat.astro'
---

<div class="flex justify-center lg:flex-col gap-12 text-[10px] text-zorba-500">
  <ElemStat />
  <FpsStat />
  <ListenerStat />
  <LCPStat />
  <NetworkStat />
</div>
