---
import '../styles/base.css'
import { Tooltips } from 'astro-tooltips'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import NavigationDesktop from '@/components/NavigationDesktop.astro'
import NavigationMobile from '@/components/NavigationMobile.astro'
// import Personalizer from '@/components/Personalizer.astro';
import Stats from '@/components/stats/Stats.astro'
interface Props {
  title?: string
  styles?: string
  width?: 'full' | 'flex'
  hideHeader?: boolean
}

const { title, styles, width, hideHeader } = Astro.props
const formattedTitle = `${title || 'Supraset'} ≈ Jonathan Geyer`
const formattedStyles = `
	${styles || ''} ${width == 'flex' ? 'flex items-center ' : ' '}
	min-h-screen
	text-zorba-200 [.theme-light_&]:text-zorba-800
`
---

<!doctype html>
<html lang="en" class="bg-zorba-500">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Jonathan Geyer - Front-end Engineer, Designer, Data Enthusiast"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Jonathan Geyer" />
    <meta
      name="keywords"
      content="Jonathan Geyer, engineering lead, web developer, front-end engineer, portfolio, Astro, Vue, Vite, Typescript"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{formattedTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Google Analytics -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-W2526JMR42"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || []
      function gtag() {
        // eslint-disable-next-line prefer-rest-params
        dataLayer.push(arguments)
      }
      gtag('js', new Date())
      gtag('config', 'G-W2526JMR42')
    </script>

    <Tooltips interactive={false} delay={[50, 1000]} />
  </head>
  <body class="backing p-0 m-0 relative">
    <div class={formattedStyles}>
      <NavigationMobile />
      {!hideHeader && <Header />}
      <main
        class="relative z-0 lg:grid lg:grid-cols-[1fr_80%_minmax(13em,1fr)] max-w-screen"
      >
        <div />
        <div class="max-w-prose mx-auto">
          <slot />
          {(<Footer />)}
        </div>
        <NavigationDesktop />
        <!-- <Personalizer /> -->
      </main>
      <div class="relative w-full border-t border-zorba-600">
        <Stats />
      </div>
    </div>
  </body>
</html>

<style>
  .backing {
    transition: all 1s ease-in-out;
    background: linear-gradient(
      75deg,
      var(--color-zorba-900) 40%,
      var(--color-zorba-100) 60%
    );
    background-position: 0 0;
    background-size: 300% 100%;
  }
  .theme-light .backing {
    background-position: 100% 0;
  }
</style>
